@model IEnumerable<Gerenciador_de_Notas_Fiscais.ViewModel.NotaFiscalViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista Notas Fiscais</h1>

<p>
    <a asp-action="Create">Criar nova Nota Fiscal</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Emissor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emissor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                Valor Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                       @Html.DisplayFor(modelItem => item.IdNota)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Emissor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorTotal)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdNota">Editar</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdNota">Apagar</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
